@()

    @main() {

        <style type="text/css">
            #education-line{top:2146px;left:48px;position:absolute;z-index:132}
            #education-line .msw-line-element{width:900px;height:20px}
            #musc-education{top:2387px;left:50px;position:absolute;z-index:129}
            #musc-education .txt{width:897px;height:121px}
            #musc-work{top:1871px;left:50px;position:absolute;z-index:126}
            #musc-work .txt{width:897px;height:185px}
            #objective-statement{top:324px;left:48px;position:absolute;z-index:47}
            #objective-statement .txt{width:592px;height:84px}
            #work-line{top:1158px;left:48px;position:absolute;z-index:131}
            #work-line .msw-line-element{width:900px;height:20px}
            #skills-line{top:563px;left:47px;position:absolute;z-index:130}
            #skills-line .msw-line-element{width:900px;height:20px}
            #about-line{top:304px;left:47px;position:absolute;z-index:134}
            #about-line .msw-line-element{width:599px;height:20px}
            #mini-project-button{top:2687px;left:646px;position:absolute;z-index:49}
            #mini-project-button .msw-button{width:181px;height:27px}
            #work-experience-header{top:1105px;left:50px;position:absolute;z-index:123}
            #work-experience-header .txt{width:897px;height:38px}
            #footer-box{top:2576px;left:-2px;position:absolute;z-index:43}
            #footer-box .msw-shape{width:1000px;height:210px;box-sizing:content-box;-moz-box-sizing:content-box}
            #cofc-education{top:2166px;left:50px;position:absolute;z-index:128}
            #cofc-education .txt{width:897px;height:185px}
            #language-vcs-auto-ci-skills{top:583px;left:49px;position:absolute;z-index:71}
            #language-vcs-auto-ci-skills .txt{width:276px;height:486px}
            #education-header{top:2092px;left:50px;position:absolute;z-index:127}
            #education-header .txt{width:897px;height:38px}
            #bonus-skill-box{top:820px;left:651px;position:absolute;z-index:73}
            #bonus-skill-box .msw-shape{width:244px;height:212px;padding:0px;background:#fff;box-sizing:content-box;-moz-box-sizing:content-box}
            #causam-work{top:1173px;left:50px;position:absolute;z-index:124}
            #causam-work .txt{width:897px;height:377px}
            #bonus-skills{top:868px;left:676px;position:absolute;z-index:74}
            #bonus-skills .txt{width:194px;height:117px}
            #about-header{top:250px;left:49px;position:absolute;z-index:133}
            #about-header .txt{width:383px;height:38px}
            #brainpower-work{top:1586px;left:50px;position:absolute;z-index:125}
            #brainpower-work .txt{width:897px;height:281px}
            #skills-header{top:509px;left:49px;position:absolute;z-index:122}
            #skills-header .txt{width:897px;height:38px}
            #framework-database-skills{top:583px;left:377.5px;position:absolute;z-index:72}
            #framework-database-skills .txt{width:237px;height:430px}
            #profile-picture{top:250px;left:682px;position:absolute;z-index:135}
            #profile-picture .msw-image-inner{}
            #profile-picture .msw-image-inner div{width:219px;height:281px;position:relative;overflow:hidden}
            #profile-picture img{position:absolute}
            #footer-text{top:2647px;left:112px;position:absolute;z-index:48}
            #footer-text .txt{width:415px;height:67px}
            #data-tools-skills{top:583px;left:665px;position:absolute;z-index:121}
            #data-tools-skills .txt{width:237px;height:234px}
            #msw-canvas-template-page{height:2789px}
        </style>

        @_navigationBar("nav-item-about")

        @*------------- ABOUT -----------*@
        <div id="about-header" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h1>About Melissa Wiel-Nilson</h1>
            </div>
        </div>
        <div id="about-line" class="msw-element-line" data-type="element">
            <div class="msw-line-element" style="width: 599px; height: 20px; width: 599px;border-top: 2px solid #999;opacity: 1;filter: alpha(opacity=1);"></div>
        </div>
        <div id="objective-statement" class="msw-element-text" data-type="element">
            <div class="txt ">
                <p>Hardworking and motivated software data scientist with 5+ years of experience looking for new opportunities to leverage an extensive background in data mining, data management, and statistical modeling.</p>
            </div>
        </div>
        <div id="profile-picture" class="msw-element-image" data-type="element">
            <div class="msw-image-inner ">
                <div class="img_rounded_corners"><img src="@routes.Assets.versioned("images/melissa_wiel_nilson.png")" style="vertical-align:middle;width:219px;height:281px;"></div>
            </div>
        </div>

        @*------------- TECHNICAL SKILLS -----------*@
        <div id="skills-header" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h1>Technical Skills</h1>
            </div>
        </div>
        <div id="skills-line" class="msw-element-line" data-type="element">
            <div class="msw-line-element" style="width: 900px; height: 20px; width: 900px;border-top: 2px solid #999;opacity: 1;filter: alpha(opacity=1);"></div>
        </div>
        <div id="framework-database-skills" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h3>Frameworks<br></h3>
                <p>Play!<br></p>
                <p>D3<br></p>
                <p>Leaflet<br></p>
                <p>Bootstrap<br></p>
                <p>Kendo UI<br></p>
                <p>Sencha<br></p>
                <p>Selenium<br></p>
                <p><br></p>
                <h3>Databases</h3>
                <p>MongoDB<br></p>
                <p>Cassandra<br></p>
                <p>MySQL<br></p>
                <p>SQL Server<br></p>
                <p>Oracle</p>
            </div>
        </div>
        <div id="data-tools-skills" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h3>Data Analysis Tools<br></h3>
                <p>Excel<br></p>
                <p>Tableau<br></p>
                <p>Weka<br></p>
                <p>Minitab 16<br></p>
                <p>Hadoop<br></p>
                <p>Hive<br></p>
            </div>
        </div>
        <div id="language-vcs-auto-ci-skills" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h3>Languages<br></h3>
                <p>Scala<br></p>
                <p>Java<br></p>
                <p>Javascript<br></p>
                <p>HTML5<br></p>
                <p>CSS3<br></p>
                <p>R<br></p>
                <p>Python<br></p>
                <p>SQL<br></p>
                <p>CQL<br></p>
                <p><br></p>
                <h3>VCS/Automation/CI<br></h3>
                <p>GIT<br></p>
                <p>SVN<br></p>
                <p>AWS<br></p>
                <p>Jenkins<br></p>
                <p>Ansible</p>
            </div>
        </div>
        <div id="bonus-skill-box" class="msw-element-shape" data-type="element">
            <div class="msw-shape shape_sidebar customStyle "></div>
        </div>
        <div id="bonus-skills" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h3 style="text-align: center;"><span style="color:#26afc1;">Bonus Skills</span><br></h3>
                <p><br></p>
                <p style="text-align: center;"><font color="#26afc1">Proficient in both Swedish and English</font><span style="color:#26AFC1;"></span><span style="color:#26AFC1;"></span></p>
            </div>
        </div>

        @*------------- WORK EXPERIENCE -----------*@
        <div id="work-experience-header" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h1>WORK EXPERIENCE</h1>
            </div>
        </div>
        <div id="work-line" class="msw-element-line" data-type="element">
            <div class="msw-line-element" style="width: 900px; height: 20px; width: 900px;border-top: 2px solid #999;opacity: 1;filter: alpha(opacity=1);"></div>
        </div>
        <div id="causam-work" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h3>Causam Energy Inc.&nbsp;</h3>
                <p>Software Data Scientist<br></p>
                <p><span style="font-size:16px;">January 2015 - Present</span><br></p>
                <ul>
                    <li>Work as part of an agile scrum team, attending stand ups and design sessions, performing code reviews, and helping to build and maintain enterprise level software</li>
                    <li>Build high-performance, interactive D3 visualizations in a responsive web UI that deliver complex, large-scale datasets in an easy to understand format</li>
                    <li>Create and document RESTful APIs to drive D3 data visualizations</li>
                    <li>Perform predictive data analytics, data journalism, and business intelligence on large scale projects using Tableau software and R for internal reporting</li>
                    <li>Database management, including data access optimization, data sanitization, importing/exporting data across disparate systems, and overall database design</li>
                </ul>
            </div>
        </div>
        <div id="brainpower-work" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h3>Brain Power Software&nbsp;</h3>
                <p>Software Data Scientist<br></p>
                <p><span style="font-size:16px;">May 2012&nbsp;- December 2014</span><br></p>
                <ul>
                    <li>Worked as part of an agile scrum team to develop and test software that uses the ETL process to integrate the client companies’ existing benefit systems into Benefitfocus’s enrollment system</li>
                    <li>Worked closely with designers and client HR staff to develop individualized company benefit overview statements that delivered valuable information, as well as visual appeal, for all employees within the client company</li>
                    <li>Managed a user experience lab for testing and evaluating mobile apps</li>
                </ul>
            </div>
        </div>
        <div id="musc-work" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h3>MUSC Institute of Psychiatry</h3>
                <p>Neuroscience Lab Technician<br></p>
                <p><span style="font-size:16px;">August 2007&nbsp;- August 2009</span><br></p>
                <ul>
                    <li>Input and analyzed large neuroscience data sets</li>
                    <li>Gained communication and interpersonal skills while working in a team setting</li>
                    <li>Developed and ran neuroscience testing experiments</li>
                </ul>
            </div>
        </div>

        @*------------- EDUCATION -----------*@
        <div id="education-header" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h1>Education</h1>
            </div>
        </div>
        <div id="education-line" class="msw-element-line" data-type="element">
            <div class="msw-line-element" style="width: 900px; height: 20px; width: 900px;border-top: 2px solid #999;opacity: 1;filter: alpha(opacity=1);"></div>
        </div>
        <div id="cofc-education" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h3>College of Charleston</h3>
                <p>Data Science in Predictive Analytics<br></p>
                <p><span style="font-size:16px;">January 2011&nbsp;- May 2013</span><br></p>
                <ul>
                    <li>Dean’s List<br></li>
                    <li>S.C. Palmetto Fellows Scholarship<br></li>
                    <li>S.C. Palmetto Enhancement Scholarship</li>
                </ul>
            </div>
        </div>

        <div id="musc-education" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h3>Medical University of South Carolina</h3>
                <p>Extracorporeal Technology<br></p>
                <p><span style="font-size:16px;">August 2009&nbsp;- December&nbsp;2010</span><br></p>
                <ul>
                    <li>Dean’s List</li>
                </ul>
            </div>
        </div>

        @*------------- FOOTER -----------*@
        <div id="footer-box" class="msw-element-shape" data-type="element">
            <div class="msw-shape shape_footcallout "></div>
        </div>
        <div id="footer-text" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h2 style="text-align: center;">Like what you see?</h2>
                <h4 style="text-align: center;">view my mini projects.</h4>
            </div>
        </div>
        <div id="mini-project-button" class="msw-element-button" data-type="element">
            <div>
                <a class="msw-button button_theme_blue " href="/restaurantCirclePacking">
                    <span class="button-content msw-button-content" style="white-space:nowrap">View Mini Project</span>
                </a>
            </div>
        </div>
    }