@()

    @main() {

        <style type="text/css">
            #contact-form{top:398px;left:50px;position:absolute;z-index:116}
            #contact-form>.form{width:481px;height:518px}
            #contact-info{top:443px;left:631px;position:absolute;z-index:74}
            #contact-info .txt{width:280px;height:199px}
            #contact-text{top:252px;left:48px;position:absolute;z-index:47}
            #contact-text .txt{width:742px;height:94px}
            #view-resume-button{top:1053px;left:656px;position:absolute;z-index:49}
            #view-resume-button .msw-button{width:181px;height:27px}
            #contact-box{top:391px;left:598px;position:absolute;z-index:73}
            #contact-box .msw-shape{width:340px;height:440px;padding:0px;background:#fff;box-sizing:content-box;-moz-box-sizing:content-box}
            #footer-text{top:1049px;left:98px;position:absolute;z-index:48}
            #footer-text .txt{width:526px;height:67px}
            #footer-box{top:977px;left:-1px;position:absolute;z-index:43}
            #footer-box .msw-shape{width:1000px;height:210px;box-sizing:content-box;-moz-box-sizing:content-box}
            #msw-canvas-template-page{height:1190px}
        </style>

        @_navigationBar("nav-item-contact")

        <div id="contact-form" class="msw-element-form" data-type="element">
            <form action="mailto:melissawiel@@gmail.com?subject=Interview Inquiry" method="post" enctype="text/plain" class="form ">
                <label class="form-label">Name: <span class="form-req">*</span></label>
                    <input class="form-value" type="text" name="Inquirer" cols="60" rows="1"><br>
                <label class="form-label">Message: <span class="form-req">*</span></label>
                    <textarea class="form-value" type="text" name="Message" cols="60" rows="5"></textarea>
                <input type="submit" value="Send" class="form-submit">
            </form>
        </div>
        <div id="contact-info" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h3>Contact Information</h3>
                <p><br></p>
                <h4>Melissa Wiel</h4>
                <p>8 Carrere Court,&nbsp;Charleston SC 29403<br><br>+1.8034483529<br></p>
                <p>melissawiel@@gmail.com<br></p>
            </div>
        </div>
        <div id="contact-text" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h1>Contact Me</h1>
                <p>Do I seem like a good fit for your company?<br></p>
                <p>Set up an interview with me to find out!</p>
            </div>
        </div>
        <div id="contact-box" class="msw-element-shape" data-type="element">
            <div class="msw-shape shape_sidebar customStyle "></div>
        </div>
        <div id="footer-text" class="msw-element-text" data-type="element">
            <div class="txt ">
                <h2 style="text-align: center;">Learn More</h2>
                <h4 style="text-align: center;">View my Resume tO review&nbsp;my background and skill set</h4>
            </div>
        </div>
        <div id="view-resume-button" class="msw-element-button" data-type="element">
            <div><a class="msw-button button_theme_blue " href="/resume"><span class="button-content msw-button-content" style="white-space:nowrap">View Resume</span></a></div>
        </div>
        <div id="footer-box" class="msw-element-shape" data-type="element">
            <div class="msw-shape shape_footcallout "></div>
        </div>
    }