@()

    @main() {
        <style type="text/css">
            #resume-pdf{top:254px;left:78.5px;position:absolute;z-index:120}
            #resume-pdf .msw-image-inner{}
            #resume-pdf .msw-image-inner div{width:835px;height:1080px;position:relative;overflow:hidden}
            #resume-pdf img{position:absolute}
            #msw-canvas-template-page{height:1402px}
        </style>

        @_navigationBar("nav-item-resume")

        <div id="resume-pdf" class="msw-element-image" data-type="element">
            <div class="msw-image-inner ">
                <embed src="@routes.Assets.versioned("pdf/Melissa_Resume.pdf")" width="835" height="1150" type='application/pdf'>
            </div>
        </div>
    }